# .env

# Headers
HEADER_ACCESS_CONTROL_ALLOW_ORIGIN=*

# Database
DATABASE_HOST=127.0.0.1
DATABASE_NAME=database
DATABASE_USER=user
DATABASE_PASSWORD=password

# Jwt
JWT_KEY=asud832que9jSAde32e081DSAIJwqre321r1sDqq324e1
JWT_EXPIRE=3600000